<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>
<body>
  <div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-cloud"></span> Profile Page</h1>
        <a href="/auth/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="well">
              <p>
                  <strong>id</strong>: <%= user.id %><br>
                  <strong>provider</strong>: <%= user.provider %><br>
                  <strong>token</strong>: <%= token %><br>
                  <strong>email</strong>: <%= user.email %><br>
                  <strong>name</strong>: <%= user.name %>
              </p>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>
</body>
</html>