<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  </head>
<body>
  <div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-cloud"></span> Home Page</h1>
        <a href="/auth/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="well">
              <p>
                <% availableRoutes.forEach(function(route){ %>
                  <strong><%= route.method %></strong>: <%= route.url %><br>
                  &emsp;URL parameters:<br>
                  <% route.urlParams.forEach(function(param){ %>
                    &emsp;&emsp;<strong><%= param.name %></strong>: &lt;<%= param.explanation %>&gt;<br>
                  <% }); %>
                  &emsp;query parameters:<br>
                  <% route.queryParams.forEach(function(param){ %>
                    &emsp;&emsp;<strong><%= param.name %></strong>: &lt;<%= param.explanation %>&gt; (<i><% if(param.isRequired){ %>required<% }else{ %>optional<% } %></i>)<br>
                  <% }); %>
                  &emsp;body:<br>
                  <% route.body.forEach(function(param){ %>
                    &emsp;&emsp;<strong><%= param.name %></strong>: &lt;<%= param.explanation %>&gt; (<i><% if(param.isRequired){ %>required<% }else{ %>optional<% } %></i>)<br>
                  <% }); %>
                <% }); %>
              </p>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost');
  socket.emit('page', 'someone','index');
</script>
</body>
</html>